@use "reboot";
@use "variables";
@use "components/stickerpack";
@use "components/field";

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: "Noto Sans";
  width: 100vw;
  height: 100vh;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

#app {
  width: 100%;
  height: 100%;
}

.main {
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.ico {
  color: var(--icon-color);
}

.top-nav {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  user-select: none;

  &__item {
    font-weight: 600;
    cursor: pointer;
    flex: 1;
    text-align: center;
    transition: background-color 0.2s, color 0.2s;
    padding: 2px 5px;
    border-radius: 5px;
    overflow: hidden;

    &.ico {
      max-width: 40px;
    }

    &[data-selected=true] {
      border-bottom: solid 3px var(--bg-third);
    }

    &:hover {
      background-color: var(--bg-secondary);
      color: var(--text-main);
    }
  }
}

.view {
  flex: 1;
  overflow-y: scroll;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  height: auto;
  flex: 1;
}

.btn {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  appearance: none;
  background-color: var(--bg-secondary);
  color: var(--text-main);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    filter: brightness(0.8);
  }

  &--add-stick {
    width: 100px;
    text-align: center;
    background-color: var(--success);
    color: var(--text-main);
  }
}

.stickerpacks-nav {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--bg-main);
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  width: 100%;
  overflow-y: scroll;
  padding-top: 10px;
  padding-bottom: 10px;
  user-select: none;
  z-index: 10;

  &__item {
    cursor: pointer;
  }
}

.pack-preview {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.sticker-preview-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.sticker-preview-img {
  max-width: 90%;
  max-height: 90%;
}

.stickerpack, .sticker {
  touch-action: none;
}

.settings-view {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.input-slider-cont {
  display: flex;
  flex-flow: row nowrap;

  &__label {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.input-slider {
  flex: 1;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;

  &::-webkit-slider-thumb, &::-moz-range-thumb {
    appearance: none;
    border: none;
    background-color: var(--bg-third);
    box-shadow: none;
  }

  &:focus::-webkit-slider-runnable-track, &::-webkit-slider-runnable-track, &::-moz-range-track {
    background-color: var(--bg-secondary);
  }
}

.theme-selector {
  display: flex;
  flex-flow: row wrap;
}