@use "reboot";
@use "variables";
@use "components/stickerpack";
@use "components/field";


body {
  background: var(--bg-main);
  color: var(--text-main);
  font-family: "Noto Sans";
  width: 100vw;
  height: 100vh;
}

* {
  //scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

#app {
  width: 100%;
  height: 100%;
}

.main {
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.ico {
  color: var(--icon-color);
}

.top-nav {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  user-select: none;
  padding-bottom: 5px;

  &__item {
    font-weight: 600;
    cursor: pointer;
    flex: 1;
    text-align: center;
    transition: background 0.2s, color 0.2s;
    padding: 2px 5px;
    border-radius: 5px;
    overflow: hidden;

    &.ico {
      max-width: 40px;
    }

    &[data-selected=true] {
      border-bottom: solid 3px var(--bg-third);
    }

    &:hover {
      background: var(--bg-secondary);
      color: var(--text-main);
    }
  }

  &__underline {
    position: absolute;
    bottom: 0;
    height: 5px;
    border-radius: 5px;
    background: var(--bg-third);
    transition: transform 0.3s ease, width 0.3s ease;
  }
}

.view {
  flex: 1;
  overflow-y: scroll;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  height: auto;
  flex: 1;
}

.btn {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  appearance: none;
  background: var(--bg-secondary);
  color: var(--text-main);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  filter: brightness(0.95);
  gap: 10px;

  &:hover {
    filter: brightness(1.0);
  }

  &--flat {
    gap: 10px;
    border-radius: 0;
    justify-content: flex-start;
    padding: 5px;
  }

  &--tooltip {
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  }

  &--add-stick {
    width: 80px;
    padding: 10px;
    text-align: center;
    background: var(--success);
    color: var(--text-main);
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.stickerpacks-nav {
  position: sticky;
  margin-bottom: 5px;
  top: 0;
  left: 0;
  //border-radius: 5px;
  background: var(--bg-main);
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  user-select: none;
  z-index: 10;
  overflow-x: auto;
  overflow-y: hidden;

  &__item {
    cursor: pointer;
  }
}

.stickerpacks-nav .pack-preview:last-child {
  margin-right: 10px;
}

.pack-preview {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}


.stickerpack, .sticker {
  touch-action: none;
}

.settings-view {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.input-slider-cont {
  display: flex;
  flex-flow: row nowrap;

  &__label {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.input-slider {
  flex: 1;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;

  &::-webkit-slider-thumb, &::-moz-range-thumb {
    appearance: none;
    border: none;
    background: var(--bg-third);
    box-shadow: none;
  }

  &:focus::-webkit-slider-runnable-track, &::-webkit-slider-runnable-track, &::-moz-range-track {
    background: var(--bg-secondary);
  }
}

.theme-selector {
  display: flex;
  flex-flow: row wrap;
}

.sticker-preview-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  backdrop-filter: blur(30px);
}

.sticker-preview-img {
  margin-bottom: 10px;
  width: auto;
  height: 40vh;
  pointer-events: none;
  user-select: none;
}

.tooltip-buttons {
  display: flex;
  flex-flow: column nowrap;
  min-width: 200px;
  border-radius: 10px;
  overflow: hidden;
  background: var(--bg-secondary);
}

.capitalize {
  text-transform: capitalize;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.rotation {
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mb-1 {
  margin-bottom: 1rem;
}

.dedrag {
  user-drag: none;
  -webkit-user-drag: none;
  pointer-events: auto;
}

