body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

input {
  color: var(--text-main);
  background-color: transparent;
  appearance: none;
  border: none;
  outline: none;

  &:focus {
    outline: none;
    border: none;
  }
}