:root {
  --bg-main: #f5f5f7;
  --bg-secondary: #e0e0e5;
  --bg-third: #4a6fff;
  --text-main: #1a1a1a;
  --icon-color: #1a1a1a50;
  --success: #b0ffb4;
  --loading-gradient-1: #f0f0f3;
  --loading-gradient-2: #a175f5;
  --loading-gradient-3: #e9e9f1;
  --stickers-per-row: 4;
}

.dark {
  --bg-main: #101317;
  --bg-secondary: #303242;
  --bg-third: #3656ff;
  --text-main: #ffffff;
  --icon-color: #ffffff50;
  --success: #364833;
  --loading-gradient-1: #1c242b;
  --loading-gradient-2: #7745cd;
  --loading-gradient-3: rgba(26, 26, 26, 0.85);


}
