:root {
  --bg-main: #101317;
  --bg-secondary: #303242;
  --bg-third: #3656ff;
  --text-main: #ffffff;
  --icon-color: #ffffff50;
  --success: #364833;
}

.dark {
  --bg-main: #101317;
  --bg-secondary: #101317;
  --text-main: #ffffff;
  --icon-color: #ffffff50;
}
